body{
    display: grid;
    grid-template-rows: auto 1fr;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-info{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-gray);
    border-radius: 24px;
    padding: 45px;
    align-items: center;
    min-height: 200px;
    min-width: 40%;
    max-width: 50%;
    gap: 30px;
    box-shadow: var(--main-color) 5px 5px;
}

.box-info h2{
    color: var(--white);
    text-shadow: 5px 5px 5px black;
    font-size: 2.3rem;
    font-family: var(--title-text);
    text-align: center;
}

.box-info .info{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.box-info .info span{
    font-family: var(--text-font);
    font-size: 1.6rem;
    color: var(--text-theme-color);
}

@media (max-width: 992px) {
    
    .box-info{
        max-width: 60%;
    }

}

@media (max-width: 600px) {

    .box-info{
        max-width: 90%;
        padding: 24px;
        gap: 12px;
    }

    
    .box-info h2{
        font-size: 1.4rem;
    }

    .box-info .info span{
        font-size: 1.05rem;
    }

}